body{
  background-color: purple;
  padding-top:80px;
  word-wrap:break-word;
  margin: 0 auto;
  text-align: center;
}
img{
  height: 200px;
}

section{
  display:inline-block;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 30px;
  width:20%;
}

.tarrot{
  width:100%;
  display:block;
  border: 10px solid pink;
}

#button{
  display:block;
  margin: 0 auto;
}
